@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --primary: #033B55;
  --second: #F79500;
}

* {
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  justify-content: center;
}

/* Header */
.header {
  min-height: 100vh;
  width: auto;
  background-image: linear-gradient(rgb(217, 217, 217, 60%), 30%, rgb(255, 255, 255, 30%)), url(img/background-1.png);
  background-position: bottom, top;
  background-position: center;
  background-size: cover;
  position: relative;
}

.header::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(0deg, rgb(255, 255, 255) 10%, rgba(255, 255, 255, 0) 100%);
}

.hero .nav {
  display: flex;
  width: auto;

}

.hero .nav .logo {
  display: grid;
  align-items: center;
  grid-template-columns: 0.2fr 1fr 1fr;
  column-gap: 5px;
}

.hero .nav .logo .pic img {
  height: 27px;
  width: 28px;
}

.hero .nav .logo .txt {
  color: #033B55;
  font-weight: bold;
  font-size: 20px;
}

.nav ul {
  float: right;
  margin-right: 20px;
}

.nav ul li {
  display: inline-block;
}

.nav ul li a {
  color: var(--primary);
  text-decoration: none;
  padding: 8px;
  font-weight: bold;
}

.nav ul li a:hover {
  color: var(--second);
}

.check-button {
  font-size: 20px;
  color: var(--primary);
  float: right;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.nav {
  padding: 1.4rem 7%;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
}

.bgColor {
  transition: all 1s;
  background-color: aliceblue;
  color: #033B55;
  border-bottom: 1px solid #033B55;
}

/* Text and Button */
.text-box {
  width: 90%;
  color: var(--primary);
  position: absolute;
  top: 45%;
  left: 10%;
}

.index-button {
  background: var(--second);
  color: #FDFEFE;
  border-radius: 10px;
  height: 30px;
  width: 85px;
  border: 0;
  outline: 0;
  margin-left: 0px;
  font-size: 16px;
}

.index-button:hover {
  background-color: white;
  color: var(--primary);
  cursor: pointer;
}

.text-box h1 {
  font-size: 35px;
  font-size: 40px;
  font-weight: 700;
  color: var(--primary);
}

.text-box p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: var(--primary);
}

/* about */
.hero-about {
  width: 60%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  text-align: justify;
  margin: 100px auto;
  line-height: 25px;
}

.hero-about h3 {
  margin: 25px 0 25px 0;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  color: var(--primary);
}

.hero-about p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: var(--primary);
}

/* pricing */
.index-pricing h3 {
  margin: 25px 0 25px 0;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  color: var(--primary);
}

.index-pricing p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: var(--primary);
  margin-bottom: 20px;
  text-align: center;
}

.index-pricing .pricing-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5%;
}

.pricing-card-basic {
  flex: 1;
  padding: 20px;
  padding-top: 20px;
  text-align: center;
  background-color: rgba(175, 175, 175, 0.7);
  margin: 10px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.pricing-card-super {
  flex: 1;
  padding: 20px;
  padding-top: 20px;
  text-align: center;
  background-color: rgba(14, 101, 163, 0.5);
  margin: 10px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.pricing-card-premium {
  flex: 1;
  padding: 20px;
  padding-top: 20px;
  text-align: center;
  background-color: rgba(3, 59, 85, 0.45);
  margin: 10px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.pricing-title {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: left;
}

.pricing-pricebox {
  background-color: rgb(255, 255, 255);
  width: 180px;
  padding: 2px;
  margin-left: -20px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.pricing-price {
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 30px;
  text-align: left;
  font-weight: 200;
}

.pricing-features {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: left;
}

.pricing-features li {
  margin-bottom: 5px;
}

.pricing-button {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  background: var(--second);
  color: #FDFEFE;
  border-radius: 10px;
}

.pricing-button:hover {
  background-color: white;
  color: var(--primary);
  cursor: pointer;
}

/* mentor */
.index-mentor {
  margin: 200px auto;
  margin-bottom: 100px;
  background-color: #FDFEFE;
  width: 100%;
  height: auto;
}

.index-mentor h2 {
  margin: 25px 0 0 0;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  color: var(--primary);
  margin-bottom: 2rem;
}

.mentor-container {
  width: 70%;
  margin: 15px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mentor-content-index {
  width: 60%;
  text-align: center;
  margin: 50px 20px;
  padding: 2rem;
  flex: 1;
  box-shadow: 0 5px 10px var(--primary);
  border-radius: 20px;
}

.mentor-content-index:hover {
  background-color: rgba(175, 175, 175, 0.4);
}

.mentor-content-index img {
  border-radius: 20px;
  width: 100%;
}

.index-mentor h6 {
  margin: 10px auto;
  font-size: 20px;
  font-weight: 700;
  color: var(--primary);
}

.mentor-content-index p {
  text-align: center;
  max-width: 45rem;
  margin: auto;
  line-height: 1.6;
  color: #033B55;
}

/* stories */
.some-stories {
  height: auto;
  width: 70%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px auto;
}

.some-stories h2 {
  margin: 25px 0 0 0;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  color: var(--primary);
}

.some-stories table {
  margin: 25px auto;
  line-height: 25px;
}

.some-stories td {
  padding: 10px;
}

.some-stories p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--primary);
  text-align: center;
}

/* team */
.section-title {
  width: 95%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  text-align: justify;
  margin: 100px auto;
  line-height: 25px;
}

.section-title h2 {
  margin: 25px 0 0 0;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  color: var(--primary);
  margin-bottom: 3rem;
}

.section-title p {
  width: 80%;
  text-align: center;
  max-width: 45rem;
  margin: auto;
  line-height: 1.6;
  font-size: 20px;
  line-height: 25px;
  color: #033B55;
}

.section-title .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}

.section-title .row .team-member {
  text-align: center;
  padding-bottom: 4rem;
  margin: 0;
}

.section-title .row .team-member img {
  border-radius: 20%;
  width: 35%;
}

.section-title .row .team-member .member-info {
  margin: 1rem auto 0.5rem;
  color: #033B55;
}

.team-member p {
  font-size: 16px;
}

/*Footer Start*/
footer {
  background-color: var(--primary);
  column-gap: 1px;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
}

footer .upper {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 1px;
  padding: 10px;
  text-align: left;
}

footer .logo img {
  width: 35%;
}

footer h4 {
  font-weight: bold;
  color: white;
}

footer .guide a {
  color: white;
  display: flex;
  font-size: small;
  font-weight: lighter;
}

footer .social a {
  color: white;
  margin-top: 10px;
  margin-left: 3px;
}

footer .social a:hover {
  color: var(--second);
}

footer .reg a .btn-reg {
  font-weight: bold;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  text-decoration: none;

  background: var(--second);
  color: #FDFEFE;
  border-radius: 10px;
}

footer .reg a .btn-reg:hover {
  background-color: white;
  color: var(--primary);
  cursor: pointer;
}

footer .cred p {
  color: white;
  font-size: smaller;
  font-family: 'outfit', sans-serif;
}

/*Footer End*/

/* Navbar Start */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: aliceblue;
  border-bottom: 1px solid var(--primary);
  box-shadow: 2px 2px 2px var(--primary);
  top: 0;
  left: 0;
  right: 0;
  position: sticky;
}

/* Logo Start*/
.navbar .logo {
  display: grid;
  align-items: center;
  grid-template-columns: 0.2fr 1fr 1fr;
  column-gap: 5px;
}

.navbar .logo .pic img {
  height: 27px;
  width: 28px;
}

.navbar .logo .txt {
  color: var(--primary);
  font-weight: bold;
  font-size: 20px;
}

/* Logo End */

/* Search box start*/
.search-box {
  display: flex;
  align-items: center;
  background: white;
  padding: 8px 16px;
  border-radius: 40px;
}

.search-box .search-icon {
  font-size: 1.18rem;
  color: var(--primary);
}

.search-box .search-input {
  transition: .5s;
  width: 0px;
  overflow: hidden;
}

.search-input .input {
  border: none;
  outline: none;
  background-color: unset;
  padding: 8px;
  font-weight: bold;
}

.search-box:hover .search-input {
  width: 190px;
  margin-left: 2px;
}

/* Search box end */

/* Filter Start */
#buttons {
  justify-content: center;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.btn {
  border: 2px solid var(--second);
  padding: 12px 16px;
  background-color: var(--second);
  font-weight: bold;
  border-radius: 25px;
  align-items: center;
  margin: 20px;
  color: white;
}

.active,
.btn:hover {
  background-color: white;
  color: var(--primary);
  cursor: pointer;
}

.btn-back {
  border: 2px solid var(--second);
  padding: 12px 16px;
  font-weight: bold;
  margin: 20px;
  justify-content: left;
  align-items: center;
  text-align: center;

  background: var(--second);
  color: #FDFEFE;
  border-radius: 10px;
}

.btn-back:hover {
  background-color: white;
  color: var(--primary);
  cursor: pointer;
}

.btn-back span {
  padding-left: 5px;
}

/* Filter End */

.navbar-nav {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.navbar-nav a {
  color: var(--primary);
  text-decoration: none;
  padding: 8px;
  font-weight: bold;
}

.navbar-nav a:hover {
  color: var(--second);
}

/*Navbar End*/

/*Mentor Start*/
.mentor .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1.5rem;
  margin-left: 10%;
  margin-right: 10%;
}

.mentor .row .mentor-card {
  text-align: center;
  padding-top: 2rem;
  border: 2px solid #2c7394;
  border-radius: 20px;
  height: fit-content;
  width: 35vh;
}

.mentor .row .mentor-card:hover {
  border: 2px solid var(--primary);
  background-color: rgb(207, 233, 255);
}

.mentor .row .mentor-cardhide {
  display: none;
}

.mentor .row .mentor-img img {
  height: 115px;
  width: 115px;
  border-radius: 20px;
  align-items: center;
}

.mentor-content {
  padding: 30px;
}

.mentor .row .mentor-card .mentor-content h4 {
  color: var(--primary);
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  padding-bottom: 0.5rem;
}

.mentor .row .mentor-card .mentor-content p {
  color: var(--primary);
  font-size: 14px;
  text-align: center;
  margin-bottom: 2px;
  padding-bottom: 0.2rem;
}

/*Mentor End*/

/*Pembagian Page Start*/
.container-pembagian {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "content sidebar";
}

.two-thirds {
  background-color: #ffffff;
  padding: 20px;
}

.one-third {
  background-color: #ffffff;
  padding: 20px;
}

/*Pembagian Page End*/

/* Booking Box Start*/
.container-booking {
  font-family: 'outfit', sans-serif;
}

.sidebar-booking {
  margin-top: 130px;
  position: fixed;
  width: 50vh;
  top: 0;
  background-color: transparent;
  border-radius: 10px;
  padding: 18px;
  border: 3px solid #033B55;
  align-items: flex-start;
}

.tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}

.tab-btns {
  display: flex;
  justify-content: center;
}

.tab-btn {
  padding: 10px 20px;
  margin-left: 5px;
  margin-right: 5px;
  width: 95px;

  border: 2px solid var(--second);
  padding: 12px 16px;
  background-color: var(--second);
  font-weight: bold;
  border-radius: 25px;
  align-items: center;
  text-align: center;
  color: white;
}

.tab-btn.active {
  background-color: #033B55;
  color: #ffffff;
}

.tab-btn:hover {
  background-color: white;
  color: var(--primary);
  cursor: pointer;
}

.tab-content {
  display: none;
}

.tab-info {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.harga-paket {
  padding-top: 15px;
  font-size: 25px;
}

.Tagline-Paket {
  text-align: left;
  font-size: 13px;
  padding-top: 3px;
  font-style: italic;
  padding-bottom: 10px;
}

.benefit {
  font-weight: bold;
  font-size: 17px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.list-benefit {
  margin-left: 5px;
  line-height: 1.5;
  font-size: 15px;
  list-style-type: none;
}

.benefit-point::before {
  content: "\f0a4";
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  width: 1em;
  margin-right: 0.5em;
}

#book-now-btn {
  padding: 10px 83px;
  background-color: #F79500;
  color: #ffffff;
  border: none;
  cursor: pointer;
  margin-top: 25px;
  border-radius: 10px;
  font-size: large;

  margin-left: 40px;
}

#book-now-btn:hover {
  background-color: white;
  color: var(--primary);
  cursor: pointer;
  border: 2px solid var(--second);
}

.kalimat-cta {
  opacity: 65%;
  text-align: center;
  margin-top: 10px;
  color: rgb(0, 0, 0);
  font-size: small;
}

/* Booking Box End*/

/*Profile Start*/
.container-profile {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  margin-left: 80px;
  color: #033B55;
}

.image-container-profile {
  width: 160px;
}

.image-container-profile img {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  border-radius: 10%;
  border: 2px solid #033B55;
  object-fit: cover;
}

.name-mentor {
  font-size: 20pt;
  font-family: "Outfit", sans-serif;
}

table {
  font-size: 12pt;
  font-family: "Outfit", sans-serif;
  margin: 0;
}

table td {
  padding: 3px;
}

/*Profile End*/

/*Profile Part2 Start*/
.Profile-Part2 {
  margin-left: 70px;
  margin-top: 40px;
}

.accordion {
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  padding: 13px;
  width: 100%;
  border: none;
  font-family: "Outfit", sans-serif;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  border-radius: 20px;
  border: 2px solid #033B55;
  margin-top: 10px;
}

.active,
.accordion:hover {
  background-color: #033B55;
  border: 2px solid #033B55;
  color: #ffffff;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
  margin-top: 7px;
  margin-bottom: 15px;
}

.panel-about {
  text-align: justify;
  margin-bottom: 10px;
}

.topics {
  margin-left: 20px;
}

.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/*Profile Part2 End*/

/*Breakpoint*/

@media screen and (max-width: 1024px) {
  .container-pembagian {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: "content" "sidebar";
  }

  .Profile-Part2 {
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 40px;
  }

  .sidebar-booking {
    margin-top: 0px;
    margin: 50px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 858px) {
  .check-button {
    display: block;
  }

  .nav ul {
    position: fixed;
    width: 100%;
    background-color: aliceblue;
    top: 60px;
    left: -100%;
    text-align: center;
    transition: all 0.25s ease;
  }

  .nav ul li {
    display: block;
    cursor: pointer;
    padding: 5px;
  }

  .nav ul li a {
    font-size: 20px;
    display: inline-block;
  }

  .nav ul a:hover,
  a:active {
    background: none;
    color: var(--primary);
  }

  .nav {
    display: block;
  }

  #check:checked~ul {
    left: 0;
  }

  .container-pembagian {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: "content" "sidebar";
  }

  .Profile-Part2 {
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 40px;
  }

  .container-profile {
    margin-left: 70px;
    margin-right: 70px;
  }

  .sidebar-booking {
    margin-top: 0px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
}

/*Tablet*/
@media screen and (max-width: 768px) {
  html {
    font-size: 75%;
  }

  .navbar .logo .txt {
    font-size: 17px;
  }

  .search-box:hover .search-input {
    width: 100px;
  }

  .mentor-container {
    flex-direction: column;
  }

  .index-pricing .pricing-container {
    flex-direction: column;
    width: 90%;
    align-items: center;
  }
}

/*Phone*/
@media screen and (max-width: 450px) {
  html {
    font-size: 65%;
  }

  .navbar .logo .txt,
  #nav {
    font-size: 14px;
  }

  .image-container-profile {
    width: 140px;
  }

  .Profile-Part2 {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
  }

  .container-profile {
    margin-left: 40px;
    margin-right: 40px;
  }

  .sidebar-booking {
    margin-top: 0px;
    margin: 50px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-size: small;

    width: 45vh;
  }

  #book-now-btn {
    margin-left: 25px;
  }

  .one-third {
    padding: 0%;
  }
}